/* Definitions */

$gap: 15px;
$workspace-max-width: calc(calc(calc(270px * 2) + $gap) * 2);
$content-full-max-width: $workspace-max-width;
$content-half-max-width: calc(calc($workspace-max-width / 2) - calc($gap / 2) - 2px);
$content-min-width: 520px;

/* End definitions */


@mixin assets-bg-icon($img) {
    background-image: url("../../../../assets/images/icons/" + $img);
}

/* Introduction */
div.vc_introduction {
    margin: 10px 10px 20px;
}

.meeting-intro.contentbox {
    max-width: $workspace-max-width;
    min-width: $content-min-width;
    margin-bottom: $gap;
}

/* End Introduction */

/* Sidebar */
.meeting-action-widget {
    .meeting-widget-links {
        li {
            cursor: pointer;
            padding: 0;
            a img {
                vertical-align: middle;
            }
        }
    }
}

.meeting-search-widget {
    &.hide {
        display: none;
    }
    .meeting-sidebar-search {
        .clear-search {
            cursor: pointer;
            a img {
                vertical-align: middle;
            }
        }
    }
}

/* End Sidebar */

/* Contents */

table.conference-meetings {
    table-layout:fixed;
    tr {
        &.info {
            display: none;
        }
        &.active {
            background-color: #e2e3e4;
        }
    }

    th, td {
        text-overflow: ellipsis;
        overflow: hidden !important;
        vertical-align: middle;
        &.recording-url, &.active {
            text-align: center;
        }
        max-width: 15% !important;
        width: 15% !important;
        &:first-child {
            max-width: 1% !important;
            width: 1% !important;
        }
        &:last-child, &.td_center {
            text-align: center !important;
        }

    }

    thead {
        tr {
            th {
                &.header {
                    background: #e7ebf1 url(../images/bg.gif) no-repeat left center;
                    cursor: pointer;
                    padding-left: 20px;
                }
                &.headerSortUp {
                    background-image: url(../images/asc.gif);
                }
                &.headerSortDown {
                    background-image: url(../images/desc.gif);
                }
            }
        }
    }

    img {
        &.info {
            cursor: pointer;
        }
        &.accept-button, &.decline-button, &.loading-indicator {
            display: none;
        }
        &.accept-button, &.decline-button {
            cursor: pointer;
        }
    }

    input {
        &[type="text"] {
            display: none;
            width: 400px;
        }
    }
}

form.create-conference-meeting fieldset {
    border-width: 0;
}

form.create-conference-meeting input[type="text"] {
    width: 400px;
    display: inline;
}

.meeting-recording-url {
    margin-right: 5px;
    color: #28497c !important;
    cursor: pointer;

    &:hover {
        text-decoration: underline !important;
    }
}

fieldset {
    label {
        input[type="checkbox"] {
            cursor: pointer;

            &[disabled] {
                cursor: not-allowed;
            }
        }

        span {
            &.disabled {
                color: #555;
            }

            &.inline-feature-warning-icon {
                img {
                    vertical-align: middle;
                }
            }
        }

        input.inline-block, span.inline-block {
            display: inline-block !important;
        }

        &.disabled {
            color:#555 !important;
        }

        &.radio-label {
            cursor: pointer;

            input[type="radio"] {
                cursor: pointer;
    
                &[disabled] {
                    cursor: not-allowed;
                }
            }
        }
    }
}

div.inline-feature-warning {
    background-size: 24px 24px !important;
    font-size: 1em !important;
    font-weight: normal !important;
    padding-left: 45px !important;
    margin-bottom: 1.5ex !important;
}

.conference-meeting {
    max-width: $workspace-max-width;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: $gap;
    section.meetingcomponent {
        position: relative;
        margin: 0;
        padding-bottom: 58px;
        max-width: $content-full-max-width;
        min-width: $content-min-width;
        width: 100%;
        .meeting-item-header {
            span.meeting-badge {
                margin-right: $gap;
                align-self: center;
            }

            span.tooltip-icon {
                padding: 0;
            }

            nav.action-menu {
                .action-menu-content {
                    padding: 4px 8px;
                    top: 1px;
                    right: 1px;
                }
            }

            h1 {
                flex: 1 0 0;
            }
        }

        article#details {
            position: relative;
            div {
                &:first-of-type {
                    width: calc(100% - 185px);
                }
                img {
                    position: relative;
                    top: 12px;

                    &.info-icon {
                        top: 7px;
                        margin-right: 7px;
                    }
                }

                span {
                    &.red {
                        color: #D60000;
                    }

                    &.creator-date {
                        color: #636971;
                        font-size: 12px;
                        float: right;
                        font-style: italic;
                        margin: 10px 0;
                    }

                    &.has-changed {
                        animation: alert 1s;
                    }

                    @keyframes alert {
                        0% {
                            color: #D60000;
                        }
                        50% {
                            color: darken(#D60000, 7%);
                        }
                        100% {
                            color: inherit;
                        }
                    }
                }
            }

            span.participants {
                position: absolute;
                right: 0;
                top: 10px;
                font-size: 14px;
                font-weight: 200;
                color: #636971;
            }
        }
        > footer {
            a, button {
                display:inline-block;
                margin-bottom: 0;
            }
            position: absolute;
            left: 0;
            bottom: 0;
            border-top-style: none;
            text-align: left;
            padding: 0 $gap $gap $gap;
        }

        section {
            padding: 12px;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .conference-meeting .meetingcomponent {
        max-width: $content-half-max-width !important;
    }
}

.meeting-messagebox {
    margin-bottom: $gap !important;
}
/* End Contents */

/* Dialogs */

.course-folder-container {
    margin-top: 5px;
    table.documents {
        a {
            cursor: pointer;
        }
        .meetings-caption {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            font-size: 16px !important;
        }
        tbody {
            display: block;
            max-height: 130px;
            overflow: auto;
            tr {
                display: table;
                width: 100%;
                table-layout: fixed;
                td {
                    a, div {
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: 5px;
                        }
                    }
                }
                &:last-child > td {
                    border-bottom: none;
                }
            }
        }
        tfoot {
            tr {
                td {
                    div.footer-container {
                        display: flex;
                        align-items: center;
                        a.right {
                            position: relative;
                            margin-left: auto;
                            img {
                                position: absolute;
                                left: -15px;
                                top: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

span.meeting-badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: #28497c;
    text-indent: 0;

    img {
        vertical-align: middle;
        margin-bottom: 1px;
    }

    &.tooltip {
        cursor: default;
    }
}

.ui-dialog-titlebar-close:focus-visible {
    outline: none;
}

.meeting-confirmation {
    img {
        vertical-align:middle;
        margin-right: 5px;
    }

    display: flex;
    div:nth-child(2) {
        padding: 8px 5px;
    }
}

.dialog-content {
    form {
        div {
            label {
                div.form-password-input {
                    position: relative ;
                    img {
                        position: absolute;
                        top: 8px;
                        right: 9px;
                        cursor: pointer;
                    }

                    input {
                        padding-right: 30px;
                    }
                }
            }
        }
    }
}

label.with-append{
    input[type="file"] {
        display: none;
    }
    input[type="text"] {
        cursor: default;
        background-color: white !important;
        &:focus {
            outline: none;
            border: 1px solid #c5c7ca;

        }
    }
}

/* End Dialogs */