@mixin assets-bg-icon($img) {
    background-image: url("../../../../assets/images/icons/" + $img);
}

div.vc_introduction {
    margin: 10px 10px 20px;
}
table.conference-meetings {
    table-layout:fixed;
    tr {
        &.info {
            display: none;
        }
        &.active {
            background-color: #e2e3e4;
        }
    }

    th, td {
        text-overflow: ellipsis;
        overflow: hidden !important;
        vertical-align: middle;
        &.recording-url, &.active {
            text-align: center;
        }
        max-width: 15% !important;
        width: 15% !important;
        &:first-child {
            max-width: 1% !important;
            width: 1% !important;
        }
        &:last-child, &.td_center {
            text-align: center !important;
        }
    }

    thead {
        tr {
            th {
                &.header {
                    background: #e7ebf1 url(../images/bg.gif) no-repeat left center;
                    cursor: pointer;
                    padding-left: 20px;
                }
                &.headerSortUp {
                    background-image: url(../images/asc.gif);
                }
                &.headerSortDown {
                    background-image: url(../images/desc.gif);
                }
            }
        }
    }
    
    img {
        &.info {
            cursor: pointer;
        }
        &.accept-button, &.decline-button, &.loading-indicator {
            display: none;
        }
        &.accept-button, &.decline-button {
            cursor: pointer;
        }
    }

    input {
        &[type="text"] {
            display: none;
            width: 400px;
        }
    }
}

form.create-conference-meeting fieldset {
    border-width: 0;
}

form.create-conference-meeting input[type="text"] {
    width: 400px;
    display: inline;
}

.meeting-recording-url {
    margin-right: 5px;
    color: #28497c !important;
    cursor: pointer;

    &:hover {
        text-decoration: underline !important;
    }
}

form.conference-meeting {
    fieldset legend {
        a img {
            position: relative;
            top: 3px;
        }
    }
}

div.meeting-item-header {
    .right {
        a {
            margin-right: 5px;
            padding: 0 0px;
            line-height: 1em;

            img {
                margin-top: 5px;
            }

            &[data-badge]:not([data-badge="0"]) {
                position: relative;

                &::before {
                    position: absolute;
                    left: 50%;
                    top: -10px;

                    margin-left: 5px;

                    background-clip: content-box;
                    background-color: #D60000;
                    border-radius: 50%;
                    color: white;
                    content: attr(data-badge);
                    display: inline-block;
                    font-size: 10px;
                    text-indent: 5px;
                    z-index: 2;
                    width: 16px;
                    height: 16px;
                }
            }
        }

        span.meeting-badge {
            vertical-align: text-bottom;
            margin-right: 5px;
        }
    }

    .left {
        span.participants {
            font-size: 14px;
            font-weight: 200;
        }
        flex: 1;
    }
    padding: 5px;
    text-indent: 0;
    flex-wrap: wrap;
    display: flex;
}

label#details {
    img {
        position: relative;
        top: 12px;

        &.info-icon {
            top: 7px;
            margin-right: 7px;
        }
    }

    span {
        &.red {
            color: #D60000;
        }

        &.creator-date {
            color: #636971;
            font-size: 12px;
            float: right;
            font-style: italic;
            margin: 10px 0;
        }

        &.has-changed {
            animation: alert 1s;
        }

        @keyframes alert {
            0% {
                color: #D60000;
            }
            50% {
                color: darken(#D60000, 7%);
            }
            100% {
                color: inherit;
            }
        }
    }
}

div.meeting-item-btns {
    clear: both;

    button.delete {
        float: right;
    }

    a.join {
        float: left;

    }
}

fieldset {
    label {
        input[type="checkbox"] {
            cursor: pointer;

            &[disabled] {
                cursor: default;
            }
        }

        span {
            &.disabled {
                color: #3c454e;
            }

            &.inline-feature-warning-icon {
                img {
                    vertical-align: middle;
                }
            }
        }
    }
}

div.inline-feature-warning {
    background-size: 24px 24px !important;
    font-size: 1em !important;
    font-weight: normal !important;
    padding-left: 45px !important;
    margin-bottom: 1.5ex !important;
}



.conference-meeting {
    .meetingcomponent {
        margin-right: 2px;
        vertical-align: top;
        @media only screen and (max-width: 1300px) {
            width: 100%;
        }
        width: 47%;
    }
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* DIALOGS */
.course-folder-container {
    margin-top: 5px;
    table.documents {
        a {
            cursor: pointer;
        }
        .meetings-caption {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            font-size: 16px !important;
        }
        tbody.subfolders, tbody.files {
            tr {
                td {
                    a, div {
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        tfoot {
            tr {
                td {
                    div.footer-container {
                        display: flex;
                        align-items: center;
                        a.right {
                            position: relative;
                            margin-left: auto;
                            img {
                                position: absolute;
                                left: -15px;
                                top: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

span.meeting-badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: #28497c;
    text-indent: 0;

    img {
        vertical-align: middle;
        margin-bottom: 1px;
    }

    &.tooltip {
        cursor: default;
    }
}
