table.conference-meetings td {
    vertical-align: top;
}

table.conference-meetings img.info {
    vertical-align: middle;
    cursor: pointer;
}

table.conference-meetings div.info {
    display: none;
}

table.conference-meetings img.accept-button,
table.conference-meetings img.decline-button,
table.conference-meetings img.loading-indicator,
table.conference-meetings input[type="text"] {
    display: none;
}

table.conference-meetings img.accept-button,
table.conference-meetings img.decline-button {
    cursor: pointer;
}
