@mixin assets-bg-icon($img) {
    background-image: url("../../../../assets/images/icons/" + $img);
}

div.vc_introduction {
    margin: 10px 10px 20px;
}

table.conference-meetings th, table.conference-meetings td {
    vertical-align: middle;
}

table.conference-meetings th.recording-url, table.conference-meetings td.recording-url,
table.conference-meetings th.active, table.conference-meetings td.active {
    text-align: center;
}

table.conference-meetings thead tr th.header {
    background: #e7ebf1 url(../images/bg.gif) no-repeat left center;
    cursor: pointer;
    padding-left: 20px;
}

table.conference-meetings thead tr th.headerSortUp {
    background-image: url(../images/asc.gif);
}

table.conference-meetings thead tr th.headerSortDown {
    background-image: url(../images/desc.gif);
}

table.conference-meetings img.info {
    cursor: pointer;
}

table.conference-meetings tr.info {
    display: none;
}

table.conference-meetings img.accept-button,
table.conference-meetings img.decline-button,
table.conference-meetings img.loading-indicator,
table.conference-meetings input[type="text"] {
    display: none;
}

table.conference-meetings input[type="text"] {
    width: 400px;
}

table.conference-meetings img.accept-button,
table.conference-meetings img.decline-button {
    cursor: pointer;
}

form.create-conference-meeting fieldset {
    border-width: 0;
}

form.create-conference-meeting input[type="text"] {
    width: 400px;
    display: inline;
}

.meeting-recording-url {
    margin-right: 5px;
    color: #28497c !important;
    cursor: pointer;
    &:hover {
        text-decoration: underline !important;
    }
}
table.conference-meetings tr.active {
    background-color: #e2e3e4;
}

form.conference-meeting {
    fieldset legend {
        a img{
            position: relative;
            top: 3px;
        }
    }
}
div.meeting-item-header {
    .right {
        float: right;
        a {
            margin-right: 5px;
            padding: 0 0px;
            line-height: 1em;

            img {
                margin-top: 5px;
            }
            &[data-badge]:not([data-badge="0"]) {
                position: relative;

                &::before {
                    position: absolute;
                    left: 50%;
                    top: -10px;

                    margin-left: 5px;

                    background-clip: content-box;
                    background-color: #D60000;
                    border-radius: 50%;
                    color: white;
                    content: attr(data-badge);
                    display: inline-block;
                    font-size: 10px;
                    text-indent: 5px;
                    z-index: 2;
                    width: 16px;
                    height: 16px;
                }
            }
        }
        span.meeting-badge {
            vertical-align: text-bottom;
            margin-right: 5px;
        }
    }
    .left {
        float: left;
        span.participants {
            margin-left: 20px;
            font-size: 14px;
            font-weight: 200;
        }
    }
}

label#details {
    img {
        position: relative;
        top: 12px;
        &.info-icon {
            top: 7px;
            margin-right: 7px;
        }
    }
    span {
        &.red {
            color: #D60000;
        }
        &.creator-date {
            color: #636971;
            font-size: 12px;
            float: right;
            font-style: italic;
            margin: 10px 0;
        }
        &.has-changed {
            animation: alert 1s;
        }

        @keyframes alert
        {
            0%      {color:#D60000;}
            50%     {color:darken(#D60000, 7%);}
            100%    {color:inherit;}
        }
    }
}
div.meeting-item-btns {
    clear: both;
    button.delete {
        float:right;
    }
    a.join {
        float:left;

    }
}
fieldset {
    label {
        input[type="checkbox"] {
            cursor: pointer;
            &[disabled] {
                cursor: default;
            }
        }
        span{
            &.disabled {
                color: #3c454e;
            }
        }
    }
}

.meetingcomponent {
    width: 35em;
    float: left;
    margin-right: 1em;
}


/* DIALOGS */

.meetings {
    .modal-backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(40, 73, 124, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1001;
    }
    .modal {
        background: #ffffff;
        box-shadow: 2px 2px 20px 1px;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        padding: 0.2em;
        min-width: 40em;

        .modal-header,
        .modal-footer {
            padding: 7px;
            display: flex;
        }
        .modal-header {
            background:#28497c none repeat scroll 0% 0%;
            border-bottom: 1px solid #eeeeee;
            color: #fff;
            justify-content: space-between;
            font-size: 1.3em;
            padding: 0.5em 1em;
        }
        .modal-close-button {
            @include assets-bg-icon("white/decline.svg");
            width: 24px;
            height: 24px;
            background-size: 20px;
            background-repeat: no-repeat;
            background-position-y: center;
            margin-right: -10px;
            margin-left: 2em;
            cursor: pointer;
        }
        .modal-body {
            color: #000;
            position: relative;
            padding: 20px 10px;
            max-height: 30em; 
            overflow-y: auto;

            input:not([type=checkbox]) {
                border: solid thin #ccc;
                min-width: 14em;
                padding: 0.5em;
            }
            .students-permissions-list,
            .groups-permissions-list {
                max-height: 24em;
                overflow-y: auto;
                list-style: none;
                padding: 0 0 0 1em;

                input[type="checkbox"] {
                    border: none;
                    min-width: unset;
                    vertical-align: bottom;
                }
                label {
                    user-select: none;

                    i {
                        color: #ccc;
                    }
                }
            }
        }
        .modal-footer {
            border-top: 1px solid #eeeeee;
            justify-content: center;

            button.button {
                padding: 7px 20px;

                &.button-inactive {
                    opacity: 0.4;
                }
            }
        }
        &.alert {
            .modal-header {
                background: rgb(214, 0, 0) none repeat scroll 0% 0%;
            }
        }
        &.warning {
            .modal-header {
                color: #000;
                background: #ffad00 none repeat scroll 0% 0%;
            }
            .modal-close-button {
                @include assets-bg-icon("black/decline.svg");
            }
        }
        .modal-progress-spinner {
            margin: auto;
        }
        .modal-progress:hover {
            background-color: #fff;
        }
    }
}

span.meeting-badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: #28497c;
    text-indent: 0;
    img {
        vertical-align: middle;
        margin-bottom: 1px;
    }
    &.tooltip {
        cursor: default;
    }
}
