/* Definitions */

$gap: 15px;
$workspace-max-width: calc(calc(calc(270px * 2) + $gap) * 2);
$content-full-max-width: $workspace-max-width;
$content-half-max-width: calc(calc($workspace-max-width / 2) - calc($gap / 2) - 2px);

/* End definitions */


@mixin assets-bg-icon($img) {
    background-image: url("../../../../assets/images/icons/" + $img);
}

/* Introduction */
div.vc_introduction {
    margin: 10px 10px 20px;
}

.meeting-intro.contentbox {
    max-width: $workspace-max-width;
    margin-bottom: $gap;
}

/* End Introduction */

/* Sidebar */
.meeting-action-widget, .meeting-folder-widget {
    .meeting-widget-links {
        li {
            cursor: pointer;
            padding: 0;
            a img {
                vertical-align: middle;
            }
        }
    }
}

.meeting-search-widget {
    &.hide {
        display: none;
    }
    .meeting-sidebar-search {
        .clear-search {
            cursor: pointer;
            a img {
                vertical-align: middle;
            }
        }
    }
}

/* End Sidebar */

/* Contents */

table.conference-meetings {
    table-layout:fixed;
    tr {
        &.info {
            display: none;
        }
        &.active {
            background-color: #e2e3e4;
        }
    }

    th, td {
        text-overflow: ellipsis;
        overflow: hidden !important;
        vertical-align: middle;
        &.recording-url, &.active {
            text-align: center;
        }
        max-width: 15% !important;
        width: 15% !important;
        &:first-child {
            max-width: 1% !important;
            width: 1% !important;
        }
        &:last-child, &.td_center {
            text-align: center !important;
        }

    }

    thead {
        tr {
            th {
                &.header {
                    background: #e7ebf1 url(../images/bg.gif) no-repeat left center;
                    cursor: pointer;
                    padding-left: 20px;
                }
                &.headerSortUp {
                    background-image: url(../images/asc.gif);
                }
                &.headerSortDown {
                    background-image: url(../images/desc.gif);
                }
            }
        }
    }

    img {
        &.info {
            cursor: pointer;
        }
        &.accept-button, &.decline-button, &.loading-indicator {
            display: none;
        }
        &.accept-button, &.decline-button {
            cursor: pointer;
        }
    }

    input {
        &[type="text"] {
            display: none;
            width: 400px;
        }
    }
}

form.create-conference-meeting fieldset {
    border-width: 0;
}

form.create-conference-meeting input[type="text"] {
    width: 400px;
    display: inline;
}

.meeting-recording-url {
    margin-right: 5px;
    color: #28497c !important;
    cursor: pointer;

    &:hover {
        text-decoration: underline !important;
    }
}

fieldset {
    label {
        input[type="checkbox"] {
            cursor: pointer;

            &[disabled] {
                cursor: not-allowed;
            }
        }

        span {
            &.disabled {
                color: #555;
            }

            &.inline-feature-warning-icon {
                img {
                    vertical-align: middle;
                }
            }
        }

        input.inline-block, span.inline-block {
            display: inline-block !important;
        }

        &.disabled {
            color:#555 !important;
        }

        &.radio-label {
            cursor: pointer;

            input[type="radio"] {
                cursor: pointer;

                &[disabled] {
                    cursor: not-allowed;
                }
            }
        }
    }
}

div.inline-feature-warning {
    background-size: 24px 24px !important;
    font-size: 1em !important;
    font-weight: normal !important;
    padding-left: 45px !important;
    margin-bottom: 1.5ex !important;
}

.conference-meeting {
    max-width: $workspace-max-width;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: $gap;
    section.meetingcomponent {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0;
        max-width: $content-full-max-width;
        width: 100%;
        .meeting-item-header {
            padding: 4px 5px 4px 10px !important;
            span.meeting-badge {
                margin-right: $gap;
                align-self: center;
            }

            span.tooltip-icon {
                padding: 0;
            }

            h1 {
                flex: 1 0 0;
                padding: 0;
                font-size: 1.1em;
                line-height: 2em;
            }
        }

        section.contents {
            article.description {
                overflow: hidden;
                p {
                    text-align: left;
                }
            }
            article.details {
                position: relative;
                div {
                    a {
                        cursor: pointer;
                    }
                    img {
                        position: relative;
                        top: 12px;

                        &.info-icon {
                            top: 7px;
                            margin-right: 7px;
                        }
                    }

                    span {
                        &.size-tiny {
                            display: none;
                        }
                        &.red {
                            color: #D60000;
                        }

                        &.creator-date {
                            color: #636971;
                            font-size: 12px;
                            float: right;
                            font-style: italic;
                            margin: 10px 0;
                        }

                        &.has-changed {
                            animation: alert 1s;
                        }

                        @keyframes alert {
                            0% {
                                color: #D60000;
                            }
                            50% {
                                color: darken(#D60000, 7%);
                            }
                            100% {
                                color: inherit;
                            }
                        }
                    }
                }
            }
        }
        > footer {
            a, button {
                display:inline-block;
                margin-bottom: 0;
            }
            margin-top: auto;
            border-top-style: none;
            text-align: left;
            padding: 0 $gap $gap $gap;
        }

        section {
            padding: 12px;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .conference-meeting .meetingcomponent {
        max-width: $content-half-max-width !important;
    }
}

.meeting-messagebox {
    margin-bottom: $gap !important;
}
/* End Contents */

/* Dialogs */

.course-folder-container {
    margin-top: 5px;
    table.documents {
        a {
            cursor: pointer;
        }
        .meetings-caption {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            font-size: 16px !important;
        }
        tbody {
            display: block;
            overflow: auto;
            max-height: 130px;
            &.large{
                max-height: 310px;
            }
            tr {
                display: table;
                width: 100%;
                table-layout: fixed;
                td {
                    a, div {
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: 5px;
                        }
                    }
                }
                &:last-child > td {
                    border-bottom: none;
                }
            }
        }
        tfoot {
            tr {
                td {
                    div.footer-container {
                        min-height: 20px !important;
                        display: flex;
                        align-items: center;
                        .right {
                            position: relative;
                            margin-left: auto;
                            img {
                                position: absolute;
                                left: -18px;
                                top: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

span.meeting-badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: #28497c;
    text-indent: 0;

    img {
        vertical-align: middle;
        margin-bottom: 1px;
    }

    &.tooltip {
        cursor: default;
    }
}

.ui-dialog-titlebar-close:focus-visible {
    outline: none;
}

.meeting-confirmation {
    img {
        vertical-align:middle;
        margin-right: 5px;
    }

    display: flex;
    div:nth-child(2) {
        padding: 8px 5px;
    }
}

.dialog-content {
    form {
        div {
            label {
                div.form-password-input {
                    position: relative ;
                    img {
                        position: absolute;
                        top: 8px;
                        right: 9px;
                        cursor: pointer;
                    }

                    input {
                        padding-right: 30px;
                    }
                }
            }
        }
    }
}

label.with-append{
    input[type="file"] {
        display: none;
    }
    input[type="text"] {
        cursor: default;
        background-color: white !important;
        &:focus {
            outline: none;
            border: 1px solid #c5c7ca;

        }
    }
}

/* End Dialogs */

/* Default Slides Admin Tables */
table.meetings-default-slides-settings {
    // table-layout:fixed;
    th, td {
        text-overflow: ellipsis;
        overflow: hidden !important;
        vertical-align: middle;
        &.recording-url, &.active {
            text-align: center;
        }
        max-width: 15% !important;
        width: 15% !important;
        &:last-child:not(.legend), &.td_center {
            text-align: center !important;
        }

    }
    tr {
        td {
            &.actions {
                a {
                    cursor: pointer;
                    &.upload {
                        position: relative;
                        input[type="file"] {
                            cursor: pointer;
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            &.legend {
                text-align: left;
            }
        }

    }
}
/* End Default Slides Admin Tables */

/* Action Menu */
.action-menu, .action-menu-wrapper {
    .action-menu-item {
        a {
            cursor: pointer !important;
        }
    }
}
.action-menu {
    .meeting-action-menu-content {
        padding: 4px 8px;
        top: 1px;
        right: 1px;
    }
}
/* StudIP 5.3 */
.action-menu-wrapper {
    .meeting-action-menu-content {
        top: 0px;
    }
    .meeting-action-menu-icon {
        display: unset;
    }
}
/* End Action Menu */

/* Drag and Drop file upload */
.meeting-fileupload-info-panel {
    padding: .4em;
    img {
        vertical-align: middle;
    }
}
.meeting-fileupload-dnd {
    position: relative;
    padding-right: 13px !important;
    padding-left: 13px !important;
    input[type="file"] {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
}
/* End Drag and Drop file upload */


/* Responsive styles */
.responsive-display {
    &.size-tiny {
        .meetingcomponent .contents .details {
            div {
                width: 100% !important;
                span {
                    white-space: normal;
                    display: none;
                    &.size-tiny, &.all-sizes {
                        display: inline;
                    }
                }
            }
        }
    }
}
.fullscreen-mode {
    .meeting-intro.contentbox {
        max-width: none;
    }
    .conference-meeting {
        justify-content: flex-start;
        max-width: none;
    }
}
/* End Responsive Styles */

/* Button Styles */
/* as-link is introduced in 5.3, but we want it here for backwards compatibility as well */
button.styleless {
    background-color: unset;
    border: 0;
}
button.as-link {
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    background-color: transparent;
    &:hover {
        background-color: transparent;
    }
}
/* End Button Styles */
